# Build artifacts
bin/
obj/
/Debug/
/Release/

# IDE settings
.vs/
.idea/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Logs & caches
*.log
*.tmp
*.cache
*.cachefile
*.opendb
*.opensdf

# Database files
*.dbmdl
*.mdb

# Test runs
TestResults/
